<%- include("header") -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla dicta porro deleniti ipsa architecto sapiente iusto assumenda iure blanditiis voluptas, libero optio voluptates officia deserunt illum. Placeat numquam ea nulla?</p>
<%- include("footer") -%>